body {
  font-family: 'Noticia Text', serif;
  color: #141423;
  background: #FEFEFE url('img/bg-elf-5.jpg') ;
}

a {
  color: #4FB69F;
  text-decoration: none;
}

h1 {
  font-size: 2.125vw;
  letter-spacing: -1.0px;
}

h2 {
  font-size: 1.7vw;
  color: #141423;
}

p {
  font-size: 1.4vw;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 0.8em;
}

.btn {
  color: #EBD699;
  background: #000000 url('img/texture.png') no-repeat right top;
  padding: 0.5vw;
  margin: 0.02vw 0;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  color: #FAF3BC;
  background-color: #101010;
}

.center {
  text-align: center;
}

ul.nav {
  margin: 10px 0 10px 0;
  display: inline-block;
  list-style: none;
  float:  right;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: #141423;
}

ul.nav li a:hover {
  color: #E6B800;
}

#logo {
  margin: 0 auto;
}

#work-elf {
  float: right;
}

#intro {
  margin: 50px 0 75px 0;
  border-radius: 25px;
}

#love img {
  border: 8px solid #FFCC00;
}

#quirk {
  border-radius: 25px;
}

#quirk img {
  border: 8px solid #FFCC00;
}

#copyright {
  border-top: 8px solid #2A0400;
  padding: 10px 0;
  margin: 15px 0;
  text-align: center;
}

@media(max-width: 1248px) {

  h1 {
    font-size: 3.125vw;
    letter-spacing: -1.0px;
  }

  h2 {
    font-size: 1.7vw;
    color: #141423;
  }

  p {
    font-size: 1.4vw;
  }

  #intro {
    margin: 0 0 2vw 0;
  }

  #work-elf {
    float: none;
    clear: both;
    max-width: 30%;
    display: block;
    margin: 0 auto;
  }

  .grid_5, .grid_7, .grid_8 {
    width: 100%;
  }

}
